* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  background-color: teal;
  color: white;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.main-section {
  height: calc(100vh - 50px);
  background-color: cadetblue;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
}

.me {
  height: 100vh;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  flex: 1 1 486px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  height: 100vh;
  background-color: teal;
  flex: 1 1 486px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills ul {
  list-style-type: none;
}

.me h2,
.skills h2 {
  margin-bottom: 20px;
}

.form-section {
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section form {
  width: 50%;
  height: 40%;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding: 5px;
  margin-left: 10px;
}

.button {
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  cursor: pointer;
}
